/* :root>* {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
} */

/* .md-typeset {
    font-size: 2em;
} */


:root {
    --md-admonition-icon--apidoc: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 7H5a2 2 0 0 0-2 2v8h2v-4h2v4h2V9a2 2 0 0 0-2-2m0 4H5V9h2m7-2h-4v10h2v-4h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2m0 4h-2V9h2m6 0v6h1v2h-4v-2h1V9h-1V7h4v2z"/></svg>')
}

.md-typeset .admonition.apidoc,
.md-typeset details.apidoc {
    border-color: rgb(146, 73, 153);
}

.md-typeset .apidoc > .admonition-title,
.md-typeset .apidoc > summary {
    background-color: rgba(146, 73, 153, 0.1);
    border-color: rgb(146, 73, 153);
}

.md-typeset .apidoc > .admonition-title::before,
.md-typeset .apidoc > summary::before {
    background-color: rgb(146, 73, 153);
    -webkit-mask-image: var(--md-admonition-icon--apidoc);
            mask-image: var(--md-admonition-icon--apidoc);
}


.md-typeset code:not(.focus-visible) {
    color: red;
    font-family: monospace;
    font-weight: normal;
    font-size: 0.8rem;
}

.md-typeset code {
    color: red;
    font-family: monospace;
    font-weight: normal;
    font-size: 0.8rem;
}


.md-typeset a {
    font-weight: 600;
}


.md-typesetd table:not([class]) th {
    background-color: rgba(68,138,255,.1);
    color: black;
    font-weight: 600;
}

.apidoc-getbox {
    display: inline-block;
    width: 100%;
    background-color: rgba(68,138,255,.1);
    color:white;
    padding: .5em 1em;
    border: 1px solid #61affe;
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(0 0 0 / 19%);
}

.apidoc-get {
    display: inline-block;
    background-color: #61affe;
    color:white;
    font-weight: 700;
    padding: .3em 2em;
    border-radius: 4px;
}


.apidoc-postbox {
    display: inline-block;
    width: 100%;
    background-color: rgba(73,204,144,.1);
    color:white;
    padding: .5em 1em;
    border: 1px solid #49cc90;
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(0 0 0 / 19%);
}

.apidoc-post {
    display: inline-block;
    background-color: #49cc90;
    color:white;
    font-weight: 700;
    padding: .3em 2em;
    border-radius: 4px;
}

.apidoc-url {
    color: black;
    font-weight: 600;
    padding-left: 0.5em;
}

.apidoc-description {
    padding-left: 10px;
}

.md-typeset .admonition, .md-typeset details {
    font-size: 0.8rem;
}